body {
    min-height: 100vh;
    background-image: linear-gradient(45deg, #8aa2f9, #b8c5f4);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.chat-box {
    width: 80%;
    height: 500px;
    overflow-y: auto
}

.send-msg {
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translate(-50%);
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #efefef;
    padding: 20px 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 2000;
}

button {
    background: none;
    border: none;
}

.chat-box p {
    font-weight: 600;
}

.chatgpt-msg {
    background-color: #efefef;
    padding: 20px;
    border-radius: 24px;
    margin-bottom: 0.5rem;
    max-width: 80%;
    color: #2e2f31;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.user-msg {
    background-color: #2e2f31;
    padding: 20px;
    border-radius: 24px;
    color: #fff;
    margin-bottom: 0.5rem;
    max-width: 80%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.fa-microphone {
    color: #607cfd;
    font-size: 1.5rem;
    transition: color 0.3s;
}

.fa-microphone:hover {
    color: #738cfd;
}

small {
    color: #696977;
}

.avatar {
    width: 60px;
    height: 60px;
    background-color: #abbaef;
    border-radius: 50%;
    padding: 5px;
}

@media (max-width: 728px) {
    .chat-box {
        width: 95%;
        height: 600px;
    }

    p {
        font-size: 14px;
    }
}